<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style/citas_style.css">
</head>
<header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/crear_cita">Agendar Cita</a></li>
            <li><a href="#">Reseñas</a></li>
            <li><a href="#">Contactos</a></li>
        </ul>
    </nav>
</header>
<body>
    
    <form class="form-registro" method="POST" action="/crear_cita">

        <h2>The</h2>
        <h1>Barber Factory</h1>


        <div class="container-inputs">
            
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" placeholder="nombre">
              </div>
            
              <div class="form-group">
                <label for="barbero">Barbero:</label>
                <select id="barbero" name="barbero">
                    <option>---Seleccione un Barbero---</option>
                    <option value="Marcos">Marcos</option>
                    <option value="Ruben">Ruben</option>
                    <option value="Bryan">Bryan</option>
                    <option value="William">William</option>
                    <option value="Jhon">Jhon</option>
                </select>
              </div>
            
              <div class="form-group">
                <label for="servicio">Tipo de Servicio:</label>
                <select id="servicio" name="servicio">
                  <option value="Corte Cabello">Corte Cabello</option>
                  <option value="Corte Barba">Corte Barba</option>
                  <option value="Corte Cabello y Barba">Corte Cabello y Barba</option>
                </select>
              </div>
            
              <div class="form-group">
                <label for="email" name="email">Email:</label>
                <input type="email" id="email" placeholder="email">
              </div>
            
              <div class="form-group">
                <label for="telefono" name="telefono">Número de Teléfono:</label>
                <input type="tel" id="telefono" placeholder="número teléfono">
              </div>
            
              <div class="form-group">
                <label for="fecha">Fecha:</label>
                <input type="date" placeholder="---Seleccione una Fecha---" id="fecha" name="fecha">
              </div>

              <div class="form-group">
                <label for="Hora">Hora:</label>
                <select name="hora">
                  <option>---Seleccione Fecha y Barbero---</option>
                </select>
              </div>

        </div>

        <div class="btn-1">
            <button type="submit"><span>Registrate</span></button>
        </div>

    </form>

    <!-- Incluye Flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>
        flatpickr("#fecha", {
            dateFormat: "Y-m-d"
        });

        //horas disponibles   
        document.addEventListener("DOMContentLoaded", function() {
            const fechaInput = document.getElementById("fecha");
            const barberoSelect = document.getElementById("barbero");
            const horaSelect = document.querySelector("select[name='hora']");

            async function cargarHorasDisponibles() {
                const fecha = fechaInput.value;
                const barbero = barberoSelect.value;

                if (fecha && barbero) {
                    const response = await fetch(`/horas_disponibles?fecha=${fecha}&barbero=${barbero}`);
                    const horas = await response.json();

                    horaSelect.innerHTML = '<option>---Seleccione Hora----</option>';
                    horas.forEach(hora => {
                        const option = document.createElement('option');
                        option.value = hora;
                        option.textContent = hora;
                        horaSelect.appendChild(option);
                    });
                }
            }

            fechaInput.addEventListener("change", cargarHorasDisponibles);
            barberoSelect.addEventListener("change", cargarHorasDisponibles);
        });
    </script>

</body>
</html>
