<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/citas_style.css">
</head>
<header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/crear_cita">Agendar Cita</a></li>
            <li><a href="#">Reseñas</a></li>
            <li><a href="#">Contactos</a></li>
        </ul>
    </nav>
</header>
<body>
    
    <form class="form-registro" method="POST" action="/crear_cita">

        <h2>The</h2>
        <h1>Barber Factory</h1>
      
</body>
</html>
