html, body{

    font-family: Arial, Helvetica, sans-serif;
    
    overflow-x: hidden;
}

.vista-principal{
    position: relative;
    height: 50%;
    width: 98%;
    left: 1%;
    display: flex;
    gap: 30px;
    background: linear-gradient(90deg, black, rgb(49, 49, 49)50%);
    border-radius: 20px;
}

.titulos{
    position: relative;
    width: 900px;
    color: white;
}

h1{
    position: relarive;
    margin: 15px;
    font-size: 60px;
    padding: 0;
}

.titulos h2{
    margin-left: 40px;
}

.imagen{
    position: relative;
    margin: 10px;
    width: 100%;
    height: 350px;
    border-radius: 15px;
}

.informacion-general{
    background: linear-gradient(90deg,rgb(49, 49, 49), rgb(207, 207, 207));
    width: 800px;
    left: 60%;
    border-radius: 20px;
}

.contacto{
    position: relative;
    width: 80%;
    height: 30%;
    margin: 0px 0px 30px 30px;
    color: white;
}

.contacto p{
    font-size: 20px;
}

.contacto a{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url(../imagenes/logo-instagram.png);
    background-size: cover;
    transition: transform 0.3s ease-in;
}

.contacto a:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.mapa{
    position: relative;
    width: 95%;
    height: 300px;
    margin: 10px;
    border-radius: 15px;
}

.informacion{
    display: flex;
}

.profesionales{
    margin: 0px 30px 30px 0px;
}

.profesionales img{
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.agendacion{
    position: relative;
    width: 95%;
    left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agendacion h2{
    position: relative;
    font-size: 40px;
}

.servicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    position: relative;
    width: 30%;
    height: 150px;
    box-shadow: 10px 20px  20px rgba(0,0,0,0.3);
    border-radius: 5%;
    background-color: rgb(245, 245, 245);
    margin: 10px;
}

.card a{
    position: relative;
    left: 60%;
    margin: 10px;
    padding: 10px;
    background-color: rgb(67, 67, 228);
    outline: none;
    border: none;
    height: 30px;
    color: white;
    font-size: 17px;
    border-radius: 15px;
    text-decoration: none;
}

.card a:hover{
    cursor: pointer;
}

@media (min-width: 0px) and (max-width:600px){ /* celulares */
    
    .vista-principal{
        flex-direction: column;
        background: linear-gradient(black, rgb(49, 49, 49) 40%);
    }

    .titulos{
        width: 100%;
    }

    h1{
        font-size: 40px;
    }

    .titulos h2{
        font-size: 20px;
        margin-left: 15px;
    }

    .imagen{
        width: 92%;
    }

    .informacion-general{
        width: 100%;
        background: linear-gradient(rgb(49, 49, 49), rgb(207, 207, 207));
    }

    .informacion{
        flex-direction: column;
    }

    .contacto{
        width: 98%;
        margin: 10px;
    }

    .profesionales{
        width: 98%;
        margin: 10px;
        flex-wrap: wrap;
    }

    .agendacion h2{
        left: 5%;
        font-size: 35px;
    }

    .card{
        width: 40%;
        height: 200px;
        padding: 4px;
    }

    .card a{
        left: 1%;
        margin: 5px;
        font-size: 12px;
    }
}

/*tablets*/

@media (min-width: 601px) and (max-width: 1024px) {
    .vista-principal{
        flex-direction: column;
        background: linear-gradient(black, rgb(49, 49, 49) 50%);
    }

    .titulos{
        width: 100%;
    }

    .titulos h1{
        position: relative;
        font-size: 50px;
        left: 5%;
        margin: 5px;
    }

    .titulos h2{
        position: relative;
        font-size: 30px;
        left: 5%;
    }

    .imagen{
        width: 97%;
    }

    .mapa{
        width: 97%;
    }

    .informacion-general{
        width: 100%;
        background: linear-gradient(rgb(49, 49, 49), rgb(207, 207, 207));
    }

    .profesionales{
        width: 98%;
        margin: 10px;
        flex-wrap: wrap;
    }

    .card{
        width: 40%;
        height: 200px;
        padding: 4px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .card a{
        left: 0;
        margin: 5px;
        font-size: 20px;
        justify-self: self-end;
        align-self: self-end;
    }
}