html, body{

    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;
    
    overflow: hidden;
}

.container-salir{
    width: 100%;
    left:0;
    height: 70px;
    margin-left: 0;
    box-shadow: 0px 0px 20px 0px black;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-salir button{
    height: 100%;
    width: 100px;
    border: none;
    border-bottom-right-radius: 10px;
}

.container-salir button:hover{
    cursor: pointer;
}

form{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 30px 30px rgb(0,0,0,0.3);
    width: 1300px;
    left: 2%;
}

.container{
    width: 800px;
}

#card_horas{
    width: 400px;
}

.card{
    position: relative;
    width: 100%;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    padding: 8px;
    font-size: 1rem;
}

.profesionales{
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.profesional{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 2px;
    width: 200px;
    height: 110px;
    background: transparent;
    border-radius: 10px;
    border: none;
}

.profesional:hover{
    cursor: pointer;
    border: 1px solid black;
}

.profesional label:hover{
    cursor: pointer;
}

.profesional.seleccionado{
    border: 2px solid black;
}

.profesional img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

#horas-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
}

#horas_mañana{
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    display: flex;  
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

#horas_tarde{
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    display: flex;  
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

#horas_noche{
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    display: flex;  
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.horas{
    display: inline-block;
    width: 120px;
    height: 60px;
    margin: 5px;
}

.horas:hover{
    border: 1px solid black;
    transform: translateY(-10%);
}

#horas-container label{
    margin:  -10px 0 -10px 0;
}

.container-datos{
    display: flex;
}

.container-boton-submit .button-editar{
    font-size: 20px;
    margin: 5px;
    width: 100px;
    height: 50px;
    transition: color,background-color 0.5s ease-in-out;
    border: none;
    background-color: lightgray;
    border-radius: 20px;
}

.container-boton-submit .button-cancelar{
    font-size: 20px;
    margin: 5px;
    width: 100px;
    height: 50px;
    transition: color,background-color 0.5s ease-in-out;
    border: none;
    background-color: lightcoral;
    border-radius: 20px;
}

.container-boton-submit .button-editar:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}

.container-boton-submit .button-cancelar:hover{
    color: white;
    background-color: rgb(230, 44, 44);
    cursor: pointer;
}

.server_response{
    position: absolute;
    box-shadow: 0 10px 10px rgba(45, 90, 3, 0.4);
    border-radius: 20px;
    left: 35%;
    top: 25%;
}

.server_response button{
    position: absolute;
    z-index: 5;
    border: none;
    left: 349px;
    border-top-right-radius: 20px;
    display: none;
}

.server_response button:hover{
    cursor: pointer;
}

.exito{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgb(180, 255, 119);
    border-radius: 20px;
    width: 400px;
}

#exito_icon{
    position: relative;
    background-color: rgb(68, 180, 16);
    border-radius: 50%;
    margin: 20px;
}

.server_response span{
    position: relative;
    font-size: 25px;
    color: white;
    margin: 10px;
}

.error{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 87, 87);
    border-radius: 20px;
    width: 400px;
}

#error_icon{
    position: relative;
    background-color: rgb(185, 16, 16);
    border-radius: 50%;
    margin: 20px;
}

.server_response span{
    position: relative;
    font-size: 25px;
    color: white;
    margin: 10px;
}

@media (min-width: 0px) and (max-width:600px){ /* celulares */

    html, body{
        overflow: visible;
    }

    .container-salir{
        position: absolute;
        width: 100%;
        gap: 30px;
        top: 0;
    }

    .container-salir h2{
        font-size: 20px;
    }

    .container-salir button{
        height: 100%;
        width: 100px;
        border: none;
        border-bottom-right-radius: 10px;
    }

    form{
        margin: 100px 100px 0 0;
        width: 95%;
        left: 2.5%;
        align-items: center;
    }

    .container-datos{
        flex-direction: column;
    }

    .container{
        height: auto;
        width: 290px;
    }

    form button{
        position: relative;
        height: 150px;
        width: 150px;
        margin: 20px 70px;
        border: none;
    }

    .card{
        padding: 0px;
    }

    .profesionales{
        width: 100%;
    }

    #card_horas{
        width: 98%;
    }

    #card_horas h2{
        font-size: 20px;
    }

    .container-boton-submit{
        margin-top: 10px;
    }

    #card_horas{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    #horas-container{
        align-items: center;
    }

    .horas-disponibles-horarios-container{
        width: 270px;
    }

    .horas-disponibles-container{
        display: flex;
        flex-direction: column;
    }

    .horas-disponibles-container label{
        position: relative;
        align-self: self-start;
    }
    
    .server_response{
        left: 10%;
        top: 25%;
        width: 300px;
    }

    .server_response button{
        left: 249px;
    }

    .exito{
        width: 300px;
    }

    .error{
        width: 300px;
    }
}