<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Barber Factory</title>
    <link rel="stylesheet" href="../static/style/style_home.CSS">
</head>
<body>
    <section class="vista-principal">
        <div class="titulos">
            <img src="../static/imagenes/vista_image(1).jpg" alt="barber factory" class="imagen">
            <h1>The Barber Factory</h1>
            <h2>La Mejor Barberia de Cali</h2>
        </div>
        
        <div class="informacion-general">
            <img src="../static/imagenes/mapa.jpeg" alt="mapa" class="mapa">
            <div class="informacion">
                <div class="contacto">
                    <h2>CONTACTO</h2>
                    <p>📍CRA 2 OESTE # 1-55</p>
                    <p>📞3115293383 - 6023087627</p>
                    <a href="https://www.instagram.com/barberfactorycali?igsh=MW9wZHpqOXJoYzA1Zw=="></a>

                </div>
                <div class="profesionales">
                    <h2>PROFESIONALES</h2>
                    <img src="../static/imagenes/perfil_william.jpg" alt="perfil william">
                    <img src="../static/imagenes/perfil_ruben.jpg" alt="perfil_ruben">
                    <img src="../static/imagenes/perfil_bryan.jpg" alt="perfil_bryan">
                    <img src="../static/imagenes/perfil_marcos.jpg" alt="perfil marcos">
                    <img src="../static/imagenes/perfil_jhon.jpg" alt="perfil jhon">
                </div>
            </div>
        </div>
    </section>
    <section class="agendacion">
        <h2>¡Agenda Tu Cita!</h2>
        <div class="servicios">
            
            <div class="card">
                <h3>Corte de Cabello</h3>
                <p>Corte de cabello</p>
                <a href="/agendar/corte">Agendar Cita</a>
            </div>
            
            <div class="card">
                <h3>Afeitado</h3>
                <p>Afeitado de barba</p>
                <a href="/agendar/afeitado_barba">Agendar Cita</a>
            </div>
            
            <div class="card" id="Corte">
                <h3>Corte y Barba</h3>
                <p>Corte de cabello y barba</p>
                <a href="/agendar/corte_barba">Agendar Cita</a>
            </div>
            
            <div class="card">
                <h3>Arreglo de Barba</h3>
                <p>ritual de barba con toallas</p>
                <a href="/agendar/arreglo_barba">Agendar Cita</a>
            </div>
            
            <div class="card" id="Corte">
                <h3>Corte de Barba y Tinte</h3>
                <p>Corte de cabello</p>
                <a href="/agendar/barba_tinte">Agendar Cita</a>
            </div>
            
            <div class="card">
                <h3>Limpieza Facial</h3>
                <p>limpieza facial</p>
                <a href="/agendar/limpieza_facial">Agendar Cita</a>
            </div>

            <div class="card">
                <h3>Corte y Alizado</h3>
                <p>limpieza facial</p>
                <a href="/agendar/corte_alizado">Agendar Cita</a>
            </div>

            <div class="card">
                <h3>Depilación CPN Cera Orejas y Nariz</h3>
                <p>limpieza facial</p>
                <a href="/agendar/depilacion_cpn">Agendar Cita</a>
            </div>

        </div>
    </section>
</body>
</html>