<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Barber Factory</title>
    <link rel="stylesheet" href="../static/style/home.css" />
  </head>
  <body>
    <section id="principal">
      <h1>The Barber Factory</h1>
      <h4>Tu Estilo Inicia Con Un Corte De Cabello</h4>
    </section>

    <div class="separador"></div>

    <section id="servicios_sect">
      <h2>Servicios de Calidad con Profesionales de Calidad</h2>
      <div class="servicios">
        <div class="card">
          <img src="../static/images/corte_image.jpg" alt="" />
          <div class="card_info">
            <h3>Corte de Cabello</h3>
            <p>Corte de cabello profesional adaptado a tu estilo, para que luzcas siempre impecable</p>
            <button>Reservar</button>
          </div>
        </div>
        <div class="card">
          <img src="../static/images/corte_image.jpg" alt="" />
          <div class="card_info">
            <h3>Cabello</h3>
            <p>Corte de cabello</p>
            <button>Reservar</button>
          </div>
        </div>
        <div class="card">
          <img src="../static/images/corte_image.jpg" alt="" />
          <div class="card_info">
            <h3>Cabello</h3>
            <p>Corte de cabello</p>
            <button>Reservar</button>
          </div>
        </div>
        <div class="card">
          <img src="../static/images/corte_image.jpg" alt="" />
          <div class="card_info">
            <h3>Cabello</h3>
            <p>Corte de cabello</p>
            <button>Reservar</button>
          </div>
        </div>
        <div class="card">
          <img src="../static/images/corte_image.jpg" alt="" />
          <div class="card_info">
            <h3>Cabello</h3>
            <p>Corte de cabello</p>
            <button>Reservar</button>
          </div>
        </div>
        <div class="card">
          <img src="../static/images/corte_image.jpg" alt="" />
          <div class="card_info">
            <h3>Cabello</h3>
            <p>Corte de cabello</p>
            <button>Reservar</button>
          </div>
        </div>
        <div class="card">
          <img src="../static/images/corte_image.jpg" alt="" />
          <div class="card_info">
            <h3>Cabello</h3>
            <p>Corte de cabello</p>
            <button>Reservar</button>
          </div>
        </div>
        <div class="card">
          <img src="../static/images/corte_image.jpg" alt="" />
          <div class="card_info">
            <h3>Cabello</h3>
            <p>Corte de cabello</p>
            <button>Reservar</button>
          </div>
        </div>
      </div>
    </section>

    <script src="../static/js/home.js"></script>
  </body>
</html>
